---
server-listen-port: {{ sui.bridge.ports.server_listen_port }}
metrics-port: {{ sui.bridge.ports.metrics_port }}
bridge-authority-key-path: {{ bridge_authority_key_path }}
run-client: false
db-path: {{ bridge_data_dir }}
watchdog-config:
  total-supplies: {"eth": "0xd0e89b2af5e4910726fbcd8b8dd37bb79b29e5f83f7491bca830e94f7f226d29::eth::ETH"}
approved-governance-actions:
  - EmergencyAction:
      nonce: 3
      chain_id: SuiMainnet
      action_type: Unpause
  - EmergencyAction:
      nonce: 3
      chain_id: EthMainnet
      action_type: Unpause
sui:
  sui-rpc-url: {{ vault.mainnet.bridge.sui.rpc_url }}
  sui-bridge-chain-id: 0
  bridge-client-key-path: {{ bridge_client_key_path }}
eth:
  eth-rpc-url: {{ vault.mainnet.bridge.eth.rpc_url }}
  eth-bridge-proxy-address: "0xda3bD1fE1973470312db04551B65f401Bc8a92fD"
  eth-bridge-chain-id: 10
  eth-contracts-start-block-fallback: 20811249
metrics:
  push-interval-seconds: 60
  push-url: https://metrics-proxy.mainnet.sui.io:8443/publish/metrics
