---
server-listen-port: {{ sui.bridge.ports.server_listen_port }}
metrics-port: {{ sui.bridge.ports.metrics_port }}
bridge-authority-key-path: {{ bridge_authority_key_path }}
run-client: false
db-path: {{ bridge_data_dir }}
watchdog-config:
  total-supplies: {"eth": "0xd0e89b2af5e4910726fbcd8b8dd37bb79b29e5f83f7491bca830e94f7f226d29::eth::ETH"}
approved-governance-actions:
  - LimitUpdateAction:
      nonce: 0
      chain_id: EthMainnet
      sending_chain_id: SuiMainnet
      new_usd_limit: 700000000000000
  - LimitUpdateAction:
      nonce: 2
      chain_id: SuiMainnet
      sending_chain_id: EthMainnet
      new_usd_limit: 1600000000000000
  - AddTokensOnSuiAction:
      nonce: 2
      chain_id: SuiMainnet
      native: false
      token_ids:
        - 1
      token_type_names:
        - struct:
            address: 0xaafb102dd0902f5055cadecd687fb5b71ca82ef0e0285d90afde828ec58ca96b
            module: btc
            name: BTC
            type_args: []
      token_prices:
        - 10100000000000
  - AddTokensOnEvmAction:
      nonce: 1
      chain_id: EthMainnet
      native: true
      token_ids:
        - 1
      token_addresses:
        - 0x2260FAC5E5542a773Aa44fBCfeDf7C193bc2C599
      token_sui_decimals:
        - 8
      token_prices:
        - 10100000000000
sui:
  sui-rpc-url: {{ vault.mainnet.bridge.sui.rpc_url }}
  sui-bridge-chain-id: 0
  bridge-client-key-path: {{ bridge_client_key_path }}
eth:
  eth-rpc-url: {{ vault.mainnet.bridge.eth.rpc_url }}
  eth-bridge-proxy-address: "0xda3bD1fE1973470312db04551B65f401Bc8a92fD"
  eth-bridge-chain-id: 10
  eth-contracts-start-block-fallback: 20811249
metrics:
  push-interval-seconds: 60
  push-url: https://metrics-proxy.mainnet.sui.io:8443/publish/metrics
