[Unit]
Description=Sui Bridge

[Service]
User={{ service_identifier }}
WorkingDirectory={{ bridge_home_dir }}
Environment=RUST_BACKTRACE=1
Environment=RUST_LOG=info,sui_bridge=debug
ExecStart={{ bridge_bin_dir }}/sui-bridge --config-path {{ bridge_config_dir }}/bridge.yaml
Restart=always
RestartSec=4
LimitNOFILE=65536

[Install]
WantedBy=multi-user.target